In [57]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv("S16_R_1_000_000_clean.csv_test.csv", nrows=6250)

In [59]:
df.head(5)

,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,detailed-label
0,807.0,40146,1349307.0,22,1,0,99.000000,99,99,0,99,99,0,19.0,1,40,0,0,1.0,14
1,818.0,18344,1648986.0,52869,1,0,0.000002,0,0,0,99,99,0,19.0,2,80,0,0,1.0,10
2,818.0,40281,448897.0,23,1,0,99.000000,99,99,0,99,99,0,19.0,1,40,0,0,0.0,14
3,807.0,58182,548564.0,22,1,0,99.000000,99,99,0,99,99,0,19.0,1,40,0,0,1.0,14
4,810.0,63420,558619.0,23,1,0,0.000006,0,0,0,99,99,0,19.0,2,80,0,0,1.0,14

In [60]:
#df = df.drop("Unnamed: 0", axis=1)

In [61]:
y = df.iloc[:,-1]

In [62]:
y.shape

(6250,)

In [63]:
y.value_counts()

0     1578
12    1554
14    1525
10    1489
4       42
2       39
1       19
8        2
5        2
Name: detailed-label, dtype: int64

In [64]:
X = df.iloc[:,:-1]

In [65]:
X.shape

(6250, 19)

In [66]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [67]:
X = pd.DataFrame(X)

In [68]:
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.294244,0.483882,-0.464972,-1.015840,-0.064972,-0.05273,0.714793,-0.025105,0.327781,-0.281957,0.0,0.0,0.0,0.01119,-0.090469,-0.091261,-0.060572,-0.051556,0.247261
1,0.286623,-0.908349,-0.179403,1.242534,-0.064972,-0.05273,-1.361002,-0.025105,-0.723823,-0.281957,0.0,0.0,0.0,0.01119,0.023944,-0.005724,-0.060572,-0.051556,0.247261
2,0.286623,0.492502,-1.322988,-1.015797,-0.064972,-0.05273,0.714793,-0.025105,0.327781,-0.281957,0.0,0.0,0.0,0.01119,-0.090469,-0.091261,-0.060572,-0.051556,-3.975091
3,-0.294244,1.635623,-1.228014,-1.015840,-0.064972,-0.05273,0.714793,-0.025105,0.327781,-0.281957,0.0,0.0,0.0,0.01119,-0.090469,-0.091261,-0.060572,-0.051556,0.247261
4,-0.135826,1.970111,-1.218432,-1.015797,-0.064972,-0.05273,-1.361002,-0.025105,-0.723823,-0.281957,0.0,0.0,0.0,0.01119,0.023944,-0.005724,-0.060572,-0.051556,0.247261

In [69]:
#from sklearn.preprocessing import LabelEncoder
#le = LabelEncoder()
#y = le.fit_transform(y)

In [70]:
y

0       14
1       10
2       14
3       14
4       14
        ..
6245    12
6246    12
6247    14
6248    12
6249     0
Name: detailed-label, Length: 6250, dtype: int64

In [71]:
y.shape

(6250,)

In [72]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.8, test_size=0.2, random_state=0)

In [73]:
# sau khi chia du lieu test train thi can chuyen du lieu train thanh dang ham thuoc X_train -> U_train, X_test -> U_test

In [74]:
#X_train.to_csv("X_train.csv",header=False, index=False)
#X_test.to_csv("X_test.csv",header=False, index=False)

In [75]:
# chay X_train voi GA_FCM
# chay X_test voi Convert_data voi dau vao la cac tam cua buoc tren

## Sau khi chạy xong GA+FCM với X_train

In [76]:
#trainset = 'U_train.txt'
#testset = 'U_test.txt'

#trainset = './Test_xong_xoa/u1.txt'
#testset = './Test_xong_xoa/u2.txt'

In [77]:
U_train = pd.read_csv("U_train.csv",sep='   ',header=None)
U_test = pd.read_csv("U_test.csv",sep='   ',header=None)

C:\Users\nhath\AppData\Local\Temp\ipykernel_7772\1281658630.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  U_train = pd.read_csv("U_train.csv",sep='   ',header=None)
C:\Users\nhath\AppData\Local\Temp\ipykernel_7772\1281658630.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  U_test = pd.read_csv("U_test.csv",sep='   ',header=None)

In [78]:
U_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.298140,0.163525,0.043468,0.104059,0.183664,0.284438,0.844555,0.707979,0.037437,0.189486,...,0.310708,0.171253,0.240752,0.196809,0.173406,0.133630,0.031403,0.715055,0.037422,0.122466
1,0.098361,0.202113,0.033929,0.340529,0.609816,0.097062,0.041278,0.126191,0.882693,0.171326,...,0.099138,0.313141,0.172101,0.273013,0.186557,0.260193,0.039255,0.113728,0.048585,0.094892
2,0.094877,0.210263,0.413672,0.113376,0.038726,0.091565,0.025028,0.032944,0.016777,0.217792,...,0.106895,0.169882,0.240292,0.186222,0.214899,0.118751,0.267080,0.033952,0.278225,0.126931
3,0.078136,0.208728,0.446075,0.115324,0.033240,0.075485,0.019584,0.026998,0.014997,0.204219,...,0.087298,0.162807,0.183308,0.164744,0.207483,0.121269,0.604320,0.026734,0.566458,0.116324
4,0.430486,0.215371,0.062855,0.326711,0.134554,0.451450,0.069554,0.105887,0.048096,0.217177,...,0.395962,0.182916,0.163547,0.179211,0.217655,0.366157,0.057942,0.110531,0.069310,0.539388

In [79]:
U_train.shape

(5, 5000)

In [80]:
U_test.shape

(5, 1250)

In [81]:
U_train = U_train.values.T
U_test = U_test.values.T

In [82]:
from sklearn.ensemble import RandomForestClassifier
import time
RF = RandomForestClassifier()

In [83]:
start = time.time()
print('program start...')
print()

#fit training data into model
RF.fit(U_train, y_train)
print()

print('prediction:')
y_pred = RF.predict(U_test)
print(y_pred)
print()

print('Score:')
score = RF.score(U_test,y_test)
print(score)

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

program start...


prediction:
[10 10 10 ... 10 12 12]

Score:
0.8936
program end...

time cost:
0.8204715251922607 seconds

In [84]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.80      0.79       307
           1       0.83      1.00      0.91         5
           2       1.00      1.00      1.00         5
           4       1.00      0.44      0.62         9
          10       1.00      0.99      0.99       301
          12       1.00      1.00      1.00       328
          14       0.79      0.79      0.79       295

    accuracy                           0.89      1250
   macro avg       0.91      0.86      0.87      1250
weighted avg       0.90      0.89      0.89      1250